<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>" /><br />
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>" /><br />
<label for="tema">Tema: </label>
<select id="tema" name="quiz[tema]">
  <% 
    var temas = ["Otro", "Humanidades", "Ocio", "Ciencia", "Tecnología"];
    var selected, i;
    for (i=0; i<temas.length; i++) {
      selected = quiz.tema === temas[i] ? "selected" : "";
  %>
    <option value="<%=temas[i]%>" <%=selected%>><%=temas[i]%></option>
  <% } %>
</select><br />
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">
